* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html {
  font-size: 62.5%;
}

header{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 2rem;
  color: var(--black-collor);
  background-color: var(--header-color);
  display: flex;
  box-shadow: 0px 20px 40px var(--shadow-color);
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}
footer{
  display: flex;
  font-size: 1.3rem;
  color: var(--black-collor);
  justify-content: space-between;
  height: 2.8rem;
}
footer > div{
  margin-left: 1rem;
  margin-right: 1rem;
}

.burger {
  position: absolute;
  left: 0px;
  visibility: hidden;
}
.nav{
  display: none; 
}

.navPC:hover {
  cursor: pointer;
  border-bottom: solid #a6866a;
}

/* Dropdown Button */
.dropbtn {
font-size: 2.5rem;
align-content: center;
border: none;
border-radius: 50%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: absolute;
right: 10px;
border-radius: 50%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: var(--header-color);
box-shadow: 0px 8px 16px 0px var(--shadow-color);
right: 0px;
min-width: 160px;
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: var(--black-collor);
padding: 12px 16px;
text-decoration: none;
justify-content: space-between;
display: flex;
}

.dropdown-content  i1 {
display: none;
}
.dropdown-content  i2 {
  display: none;
  }
.dropdown-content  i3 {
  display: none;
  }
/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
background-color: #5D768C;
cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.start
{
  font-family: 'Akaya Kanadaka', cursive;
  text-align: center;
  color: var(--text-color);
  margin-top: 1vh;
  font-size: 1.5rem;
  box-shadow: none ;
}


.container {
  font-family: "Big Shoulders Display", cursive;
  width: 100%;
  color: aliceblue;
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar {
  font-size: 62.5%;
  width: 45rem;
  background-color: rgba(34, 33, 33,0.50);
  box-shadow: 0.5rem 3rem igba(0, 0, 0, 0.4);
}
.mounth {
  width: 100%;
  height: 7rem;
  background-color: #a6866a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  text-shadow: 0 0.3rem 0.5rem rgb(29, 18, 24);
}
.mounth  h1 {
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 00.2rem;
  margin-bottom: 0.5rem;
}
.mounth p {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.mounth i1 {
  font-size: 3rem;
  cursor: pointer;
}
.mounth i2 {
  font-size: 3rem;
  cursor: pointer;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}
.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(30rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgb(29, 18, 24);
}

.days {
  font-size: large;
  display: flex;
  letter-spacing: 0.1rem;
  flex-wrap:wrap;
}
.days div {
  font: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.288);
}
.days div:hover {
  cursor: pointer;
  border: 0.6rem solid #5D768C;
  transition: 0.1s;
}

.prev-date,
.next-date {
  opacity: 0.2;
}
.busy {
  background-color: #bf2a37;
}

.days div:not(.busy):not(.next-date):not(.prev-date)
{
  background-color: #798C35;
}

.today {
  border: 0.6rem solid #A0CCF2;
  text-shadow: 0 0.3rem 0.5rem rgb(29, 18, 24);
}
.foot{
  display: flex;
}

.container3
{
  width: 100%;
  color: aliceblue;
  display: flex;
  justify-content: center;
}

.legenda
{
  cursor: pointer;
}
.legenda > button{
  cursor: pointer;
  outline: none;
  background: none;
  color: aliceblue;
  border: none;
  font-size: 1.4rem;
}

.legenda > i1
{
  color: #5D768C;
  font-size: 1.7rem;
}

.legenda > i2
{
  color: #5D768C;
  font-size: 1.7rem;
}

.popup {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* The actual popup */
.popuptext {
  visibility: hidden;
  width: 215px;
  height: 150px;
  background-color: #555;
  color: aliceblue;
  font-size: 2rem;
  border-radius: 6px;
  padding: 8px 0;
  size: fixed;
  position: absolute;
  z-index: 1;
  bottom: 140px;
  right: 10px;
}

.popuptext > img {
  width: 200px;
  height: 135px;
}

.popuptext > .text
{
  margin-left: 1rem;
  display: inline-block;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.container  i
{
    font-size: 6rem;
    position: absolute;
    color: var(--text-color);
    border: solid var(--shadow2-collor);
    right: 10px;
    bottom: 50px;
    cursor: pointer;
}

.obs{
  font-family: 'Bebas Neue', cursive;
  color: #bf2a37;
  font-size: 1.5rem;
  text-align: center;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
@media screen and (max-device-width: 980px) and (orientation: portrait) {
  .navPC{
    display: none;
  }
  .dropdown {
    position: absolute;
    right: 60px;
    border-radius: 50%;
  }
  .burger {
    visibility: visible;
    position: absolute;
    left: 60px;
    font-size: 8rem;
  }
  .nav {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:var(--header-color);
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    left: 0px;
    height: 92vh;
    top:18rem;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }
  .nav div:hover {
    border-bottom: solid #a6866a;
    border-width: 2rem;
  }
  
  .dropbtn {
    font-size: 8rem;
    -ms-flex-line-pack: center;
        align-content: center;
    border: none;
    border-radius: 50%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--header-color);
    -webkit-box-shadow: 0px 8px 16px 0px var(--shadow-color);
            box-shadow: 0px 8px 16px 0px var(--shadow-color);
    right: 0px;
    min-width: 360px;
    z-index: 1;
  }
  .dropdown-content a {
    font-size: 3rem;
    color: var(--text-color);
    padding: 15px 12px;
    text-decoration: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 12rem;
    color: var(--text-color);
    background-color: var(--header-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 20px 40px var(--shadow-color);
            box-shadow: 0px 20px 40px var(--shadow-color);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 18rem;
  }
  .start
  {
    font-size: 3.4rem;
  }
  .calendar {
    width: 90rem;
  }
  .weekdays div {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(13rem);
  }
  .days div {
    font-size: 3.4rem;
    width: calc(85rem / 7);
    height: 10rem;
  }
  .days div:hover {
    border: 1.6rem solid #5D768C;
  }
  .mounth {
    width: 100%;
    height: 17rem;
  }
  .mounth  h1 {
    font-size: 7.5rem;
  }
  .mounth p {
    font-size: 3.5rem;
  }
  .mounth i1 {
    font-size: 9rem;
  }
  .mounth i2 {
    font-size: 9rem;
  }
  .container {
    margin-top: 3vh;
    height: 45vh;
  }
  .obs{
    margin-top: 9rem;
    font-size: 2.2rem;
    text-align: center;
  }
  footer{
    position: absolute;
    bottom: 70px;
    right: 255px;
    display: block;
    text-align: center;
    font-size: 2.0rem;
    margin-top: 23vh;
  }
  .container  i
  {
    font-size: 10rem;
    position: absolute;
    color: var(--text-color);
    border: solid var(--shadow2-collor);
    right: 40px;
    bottom: 200px;
    cursor: pointer;
  }
  .popuptext {
    visibility: hidden;
    width: 430px;
    height: 300px;
    background-color: #555;
    color: aliceblue;
    font-size: 2rem;
    border-radius: 6px;
    padding: 8px 0;
    size: fixed;
    position: absolute;
    z-index: 1;
    bottom: 140px;
    left: 280px;
  }
  .popuptext > img {
    width: 400px;
    height: 270px;
  }
}

.light-mode {
  background-color:rgb(249,249,249) ;
  --header-color:#FFFFFF ;
  --shadow-color:aliceblue ;
  --black-collor:rgb(0,0,0);
  --text-color:rgb(0, 0, 0) ;
  --shadow2-color:#F9F9F9;
}

.dark-mode {
  background-color:rgb(25,25,25) ;
  --header-color:#202020 ;
  --shadow-color:rgb(0, 0, 0) ;
  --black-collor:aliceblue;
  --text-color:aliceblue ;
  --shadow2-collor:#191919;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}